h1 {
    text-align: center;
}

#gameControl{
    text-align: center;
}
table {
    margin: 20px auto;
}

.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.horizontal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    width: 150px;
    height: 150px;
    text-align: center;
}

.play{

}
